QListView#bordered {
    border: 1px solid #000;
}

QListView::item {
    height: 50px;
    border-radius: 5px;
    border-bottom: 1px solid #e1e3e5;
}

QListView::item:selected {
    color: #fff;
    background: #1175e3;
}

QWidget#bordered {
    border: 1px solid #000;
}

QTabWidget::pane#bordered {
    border: 1px solid #000;
}
